# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker volumes (database data)
db_data/

# Docker files (optional, if not needed in Git)
*.tar

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build output (if any)
dist/
build/
